In [1]:
!pip install folium

Requirement already satisfied: folium in c:\users\enduser\appdata\roaming\python\python39\site-packages (0.12.1.post1)
Requirement already satisfied: jinja2>=2.9 in c:\programdata\anaconda3\lib\site-packages (from folium) (2.11.3)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from folium) (2.27.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from folium) (1.21.5)
Requirement already satisfied: branca>=0.3.0 in c:\users\enduser\appdata\roaming\python\python39\site-packages (from folium) (0.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (3.3)

In [1]:
import folium

In [2]:
seoul_map = folium.Map(location=[37.55, 126.98], zoom_start=12)
seoul_map.save('./dataset/seoul.html')

In [3]:
seoul_map2 = folium.Map(location=[37.55, 126.98], zoom_start=12, tiles = 'Stamen Terrain')
seoul_map3 = folium.Map(location=[37.55, 126.98], zoom_start=12, tiles = 'Stamen toner')

seoul_map2.save('./dataset/seoul_1.html')
seoul_map3.save('./dataset/seoul_2.html')

In [5]:
# 서울 지역 대학교 위치를 지도에 마커로 표시하기
import pandas as pd

df = pd.read_excel('./dataset/서울지역 대학교 위치.xlsx')
seoul_map = folium.Map(location=[37.55, 126.98], zoom_start=12, tiles = 'Stamen Terrain')

In [6]:
df.head()

     Unnamed: 0         위도          경도
0  KAIST 서울캠퍼스   37.592573  127.046737
1         KC대학교  37.548345  126.854797
2  가톨릭대학교(성신교정)  37.585922  127.004328
3  가톨릭대학교(성의교정)  37.499623  127.006065
4      감리교신학대학교  37.567645  126.961610

In [12]:
df.rename(columns = {'Unnamed: 0':'name'}, inplace=True)

In [14]:
df.set_index('name', inplace=True)
df.head()

                     위도          경도
name
KAIST 서울캠퍼스   37.592573  127.046737
KC대학교         37.548345  126.854797
가톨릭대학교(성신교정)  37.585922  127.004328
가톨릭대학교(성의교정)  37.499623  127.006065
감리교신학대학교      37.567645  126.961610

In [15]:
for name, lat, lng in zip(df.index, df.위도, df.경도):
    folium.Marker([lat, lng], popup=name).add_to(seoul_map)

seoul_map.save('./dataset/seoul_colleges.html')

In [17]:
# seoul_map 에 마커를 추가
seoul_map = folium.Map(location=[37.55, 126.98], zoom_start = 12, tiles='Stamen Terrain')

for name, lat, lng in zip(df.index, df.위도, df.경도):
    folium.CircleMarker([lat, lng],
                        radius=10,  #  원의 반지름
                        color='red',  #  원의 둘레 색깔
                        fill=True,
                        fill_color='pink',  #  원의 채우는 색
                        fill_opacity=0.5,  #  투명도
                        popup=name).add_to(seoul_map)

seoul_map.save('./dataset/seoul_colleges_1.html')

In [ ]:
# drop 함수는 컬럼을 지정해서 무조건 삭제, dropna 함수는 null 값이 있을 때 삭제